.info_random {

    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;

}

.types img{

    margin-right: 4%;

}

.titre_liste {

    border-style: solid;
    border-radius: 5px;
    padding: 1%;
    transition: 0.5s;

}

.titre_liste:hover {

    background-color: black;
    box-shadow: 0 0 1em black;
    border-color: black;
    color: white;
    transition: 0.5s;

}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    padding: 10px;
    z-index: 1;
    font-family: "Space Grotesk";
}

nav a {
    float: left;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0000cc;
    margin-left: 2%;
    margin-top: 1%;
}

nav a:hover {
    background-color: #ff1616;
    box-shadow: 0 0 0.5em #ff1616;
}

main {

    margin-top: 10%;

}

footer {

    background-color: #222222;
    color: white;
    width: 100%;

}

body {

    background-color: #333333;
    color: white;

}

.img_poke{

    margin-top: -15%;

}

.fiche h2 {

    text-align: center;

}

.fiche {

    width: 15%;
    background-color: #222222;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;

}

.liste_fiche_poke{

    display: flex;
    flex-wrap: wrap;

}

.fiche:hover{

    box-shadow: 0 0 1em black;
    transition: 1s;

}

.img_poke_detail{

    float: left;
    margin-right: 10%;

}

.evolution{

    margin-top: 17%;
    
}

.evolution a{

    float: left;
    width: 30%;

}

.evolution a div.fiche{

    width: 50%;

}
