.info_random {

    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;

}

.types img {

    margin-right: 4%;
    width: 40%;

}

.titre_liste {

    border-style: solid;
    border-radius: 5px;
    padding: 1%;
    transition: 0.5s;

}

.ListeGen {

    border-style: solid;
    border-radius: 5px;
    padding: 1%;
    transition: 0.5s;

}

.titre_liste:hover {

    background-color: black;
    box-shadow: 0 0 1em black;
    border-color: black;
    color: white;
    transition: 0.5s;

}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2222226e;
    padding: 10px;
    z-index: 1;
    font-family: "Space Grotesk";
}

nav a {
    float: left;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0000cc;
    margin-left: 2%;
    margin-top: 1%;
}

nav a:hover {
    background-color: #ff1616;
    box-shadow: 0 0 0.5em #ff1616;
}

main {

    margin-top: 6%;

}

footer {

    background-color: #222222;
    color: white;
    width: 100%;

}

h1 {
    color: #ff0000;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 10%;
}
.boutton {
    display: inline-block;
    margin-right: 10px; 
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 2, 2);
    width: 30px;
    transition: background-color 0.3s; 
}

.boutton:hover {
    background-color: blue; 
}

.menu-nav {
    position: absolute;
    padding-left: 50px; /* Espace pour l'image à gauche */
    font-family: "Space Grotesk";
}

.menu-nav::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px; 
    height: 50px; 
    background-image: url('Pokedex.png'); 
    background-size: cover; 
    background-position: center; 
}
